#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  float: left;
  height: 5.5em;
  width: 5.5em;
  filter: invert(0.8);
  /* opacity: 0.9; */
  z-index: 100;
}

.title-bio {
  /* filter: invert(0.8); */
  -webkit-text-size-adjust: 100%;
  --tw-bg-opacity: 1;
  font-family: Inter, sans-serif;
  font-weight: 800;
  line-height: 0.8;
  letter-spacing: -0.02em;
  font-size: 5.5rem;
  box-sizing: border-box;
  border: 0 solid;
  position: relative;
  z-index: 100;
  background-image: linear-gradient(90deg, var(--tw-gradient-stops));
  --tw-gradient-from: #060606;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgb(228, 229, 230));
  /* --tw-gradient-to: #ffffff; */
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  color: hsla(0, 0%, 62%, 0);
}

/* .globe {
  z-index: 100;
  width: 200px;
  height: auto;
  float: right;
  max-width: 20%;
  filter: brightness(1);
  position: absolute;
} */

.agency-intro {
  /* z-index: 100; */
  margin-top: 3rem;
}

.title-bio-span {
  /* z-index: 100; */
  -webkit-text-size-adjust: 100%;
  line-height: 1;
  background-image: linear-gradient(90deg, var(--tw-gradient-stops));
  --tw-gradient-from: #b59f9f;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgb(56, 103, 156));
  --tw-gradient-to: #59210d;
  -webkit-background-clip: text;
  background-clip: text;
}

/* .noHover {
  /* pointer-events: none; */
  /* z-index: 100;
} 

 */
.header-left {
  /* z-index: 100; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.header-size-less {
  /* z-index: 100; */
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
}

.header-nice-formatted {
  /* z-index: 100; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* supported by Chrome, Edge, Opera and Firefox */
}

.grid-main {
  /* z-index: 100; */
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px;
}

.block-link {
  --_1psdadq2f: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
}

.grid-text {
  z-index: 100;
  font-family: var(--_1psdadq2f);
  text-align: center;
  box-sizing: border-box;
  position: relative;
  font-size: 1.5em;
  line-height: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  --text-gradient: linear-gradient(180deg, #fff, #aaa);
}

.grid-desc {
  z-index: 100;
  font-family: var(--_1psdadq2f);
  display: inline-flex;
  border-radius: 100%;
  color: var(--geist-background);
  height: 40px;
  opacity: 0.9;
}

.button-get {
  z-index: 100;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 44px;
  padding: 0 16px;
  border-radius: 99px;
  font-size: 16px;
  letter-spacing: -0.025em;
  font-weight: 400;
  border: 1.9px solid hsla(0, 0%, 100%, 0.15);
}

.flex {
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: right;
}

.btn-sm {
  z-index: 100;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 44px;
  padding: 0 16px;
  border-radius: 99px;
  font-size: 16px;
  letter-spacing: -0.025em;
  font-weight: 400;
  border: 1.9px solid hsla(0, 0%, 100%, 0.451);
  background-color: #ebebebf1;
}

.btn-sm:hover {
  background-color: #ab9d9df1;
}

.separator {
  display: flex;
}

.path-line {
  z-index: 100;
  align-items: center;
  box-sizing: border-box;
  width: 1px;
  align-self: center;
  background: linear-gradient(var(--start-color), var(--end-color));
  padding-right: 1px;
  height: 120px;
  --start-color: black;
  --end-color: #019ae9;
}

.separator {
  z-index: 100;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-label {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-label_number {
  font-family: var(--_1psdadq2f);
  display: inline-flex;
  border-radius: 100%;
  color: var(--geist-background);
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  --start-color: #007cf0;
  --end-color: #00dfd8;
  /* opacity: 0.7; */
}

.section-label_phrase {
  font-family: var(--_1psdadq2f);
  font-size: 1.5rem;
  font-weight: 600;
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  --start-color: #007cf0;
  --end-color: #00dfd8;
  opacity: 0.9;
  -webkit-background-clip: text;
  background-clip: text;
}

.separator-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
  color: rgba(255, 255, 255, 0.5);
}
