:root {
  background-color: rgb(18, 16, 16);
  /* background-color: rgb(22, 22, 22); */
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  --accents-6: #999;

  --geist-space-small: 39px;
  --geist-radius: 5px;
  --geist-form-small-height: var(--geist-space-small);
  --geist-form-line-height: 1.25rem;
  --geist-background: rgb(255, 255, 255);
  --_1psdadq2f: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
