:root {
  background-color: rgb(0, 0, 0);
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  --accents-6: #999;
}

body {
  margin: 0;
  /* place-items: center; */
}

h1 {
  font-size: 3.2em;
  /* line-height: 1.1; */
}
