:root {
  background-color: rgb(1, 1, 0);
  background-image: url("/Users/admin/Desktop/ManuCiao10.github.io/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  
  background-position: center;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif; 
  -webkit-font-smoothing: antialiased;
  filter: grayscale(90%);
}


body {
  margin: 0;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


